body {
  padding: 20;
  margin: 20;
  font-family: Lucida Sans Unicode, sans-serif;
  background-color: #f8f9fa;

}

hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;


}

